/source/Counter/Bin/Debug/AppManifest.xaml
/source/Counter/Bin/Debug/ApplicationIcon.png
/source/Counter/Bin/Debug/Background.png
/source/Counter/Bin/Debug/CountSmart.dll
/source/Counter/Bin/Debug/CountSmart.pdb
/source/Counter/Bin/Debug/CountSmart.xap
/source/Counter/Bin/Debug/Counter.dll
/source/Counter/Bin/Debug/Counter.pdb
/source/Counter/Bin/Debug/Counter.zip
/source/Counter/Bin/Debug/GalaSoft.MvvmLight.Extras.WP7.dll
/source/Counter/Bin/Debug/GalaSoft.MvvmLight.Extras.WP7.xml
/source/Counter/Bin/Debug/GalaSoft.MvvmLight.WP7.dll
/source/Counter/Bin/Debug/GalaSoft.MvvmLight.WP7.xml
/source/Counter/Bin/Debug/Images/appbar.clear.png
/source/Counter/Bin/Debug/Images/appbar.sync.png
/source/Counter/Bin/Debug/System.Windows.Interactivity.dll
/source/Counter/Bin/Debug/System.Windows.Interactivity.xml
/source/Counter/obj/Debug/App.g.cs
/source/Counter/obj/Debug/App.g.i.cs
/source/Counter/obj/Debug/CountSmart.dll
/source/Counter/obj/Debug/CountSmart.g.resources
/source/Counter/obj/Debug/CountSmart.pdb
/source/Counter/obj/Debug/Counter.csproj.FileListAbsolute.txt
/source/Counter/obj/Debug/Counter.dll
/source/Counter/obj/Debug/Counter.g.resources
/source/Counter/obj/Debug/Counter.pdb
/source/Counter/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/source/Counter/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/source/Counter/obj/Debug/MainPage.g.cs
/source/Counter/obj/Debug/MainPage.g.i.cs
/source/Counter/obj/Debug/View/CountView.g.cs
/source/Counter/obj/Debug/View/CountView.g.i.cs
/source/Counter/obj/Debug/View/CounterViewPage.g.i.cs
/source/Counter/obj/Debug/ViewModel/App.g.i.cs
/source/Counter/obj/Debug/XapCacheFile.xml
